.app-layout {
  width: 100%;
  min-height: 100dvh;
  background: #0a0a0a;
}

.app-layout-content {
  width: 100%;
  min-width: 0;
  min-height: 100dvh;
}

/* Desktop */
@media (min-width: 900px) {
  .app-layout-content {
    width: calc(100% - 255px);
    margin-left: 255px;
  }
}
